$bold:'proxima_nova_rgbold';
$light:'proxima_novalight';
$regular:'proxima_nova_rgregular';
$semibold:'proxima_novasemibold';
$georgia:'Georgia';

$dark-blue: #000066;
$teal: #23a49c;
$dark-gray: #2a2a2a;
$color-white:#ffffff;
$color-black:#2a2a2a;

@mixin reveal {
  transition: .6s;
  transform: translateY(40px);
  opacity: 0;

  &.on {
    transform: translateY(0);
    opacity: 1;
  }
}

.aoa-accordion {
  margin-top: 0;

  * {
    box-sizing: border-box;
  }

  h2 {
    display: block;
    margin: 0;
    padding: 16px 50px 16px 16px;
    font-size: 1.125rem !important;
    font-weight: 700;
    line-height: 1.6;
    color: $dark-blue;
    cursor: pointer;
    transition: background-color .3s ease-out;
  }

  .aoa-accordion__items section input[type=checkbox]:checked:hover ~ i:after,
  .aoa-accordion__items section input[type=checkbox]:checked:hover ~ i:before,
  .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ i:after,
  .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ i:before {
    background-color: $color-white;
  }

  .aoa-accordion__items section input[type=checkbox]:checked:hover ~ h2,
  .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ h2 {
    background-color: $teal;
    color: $color-white !important;
  }

  .aoa-accordion__body {
    font-size: 1.125rem;
    line-height: 1.6;
  }

  h5 {
    margin: 0 0 .33rem;
    display: block;
    text-align: center;
    font-size: inherit;
    font-weight: 700;
    color: #636363;
    line-height: 1.4
  }

  h5 a {
    display: block;
    text-decoration: none;
    color: $teal;
    font-weight: 700;
  }

  h5 a:hover {
    color: #000;
  }

  p strong a:hover {
    text-decoration: underline
  }

  p span {
    color: #bb4d2e;
  }

  .aoa-accordion__item,
  .aoa-accordion__items section i:after,
  .aoa-accordion__items section i:before,
  .transition,
  p {
    transition: all .25s ease-in-out;
  }

  .no-select .css-accordion h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  figure > a {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
    color: inherit;
    opacity: 1;
  }

  figure > a:hover {
    opacity: .6
  }

  .aoa-accordion__item, p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    z-index: 2
  }

  .aoa-accordion__items section input[type=checkbox] ~ .aoa-accordion__item {
    /*padding: 0 30px 0 0;*/
    padding: 0 16px;
  }

  .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ .aoa-accordion__item {
    padding: 16px;
  }

  .aoa-accordion__item:not(:last-of-type):after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    border-bottom: 1px solid $teal;
    bottom: 0
  }

  figure {
    margin-bottom: 20px;
    text-align: center;
  }

  img {
    max-width: 180px;
    width: 100%;
    height: auto;
  }

  .aoa-accordion__items {
    padding: 0;
    list-style: none;
    perspective: 900;
  }

  .aoa-accordion__items section {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ffffff;

    @include reveal();

    &:not(:last-of-type) {
      border-bottom: 1px solid $teal;
    }
  }

  .aoa-accordion__items section:last-of-type {
    padding-bottom: 0;
  }

  .aoa-accordion__icon {
    position: absolute;
    z-index: 1;
    transform: translate(-6px, 0);
    -webkit-transform: translate(-6px, 0);
    -ms-transform: translate(-6px, 0);
    -moz-transform: translate(-6px, 0);
    margin-top: 16px;
    right: 16px;
    top: 11px
  }

  .aoa-accordion__items section i:after,
  .aoa-accordion__items section i:before {
    content: "";
    position: absolute;
    background-color: $dark-blue;
    width: 3px;
    height: 9px
  }

  .aoa-accordion__items section i:before {
    transform: translate(-2px, 0) rotate(45deg);
    -webkit-transform: translate(-2px, 0) rotate(45deg);
    -ms-transform: translate(-2px, 0) rotate(45deg);
    -moz-transform: translate(-2px, 0) rotate(45deg)
  }

  .aoa-accordion__items section i:after {
    transform: translate(2px, 0) rotate(-45deg);
    -webkit-transform: translate(2px, 0) rotate(-45deg);
    -ms-transform: translate(2px, 0) rotate(-45deg);
    -moz-transform: translate(2px, 0) rotate(-45deg)
  }

  .aoa-accordion__items section input[type=checkbox] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  .aoa-accordion__items section input[type=checkbox]:checked ~ .aoa-accordion__item,
  .css-accordion .aoa-accordion__items section input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  .aoa-accordion__items section input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }

  .aoa-accordion__items section input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  p:empty {
    display: none;
  }

  // TODO needed?
  .item-subhead {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px; 
    line-height: 1.8;
    color: $dark-blue;
  }

  @media screen and (min-width: 768px) {
    .row + .row {
      margin-top: 20px;
    }

    h5 {
      text-align: left;
    }
  }

  @media screen and (min-width: 1066px) {
    .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ .aoa-accordion__item {
      padding: 32px 16px 30px 16px;
      background-color: rgba(255,255,255,.75);
    }

    figure {
      text-align: center;
      display: inline-block;
      width: 25%;
      margin: 0 40px 0 0;
      vertical-align: top;
    }

    .aoa-accordion__body {
      display: inline-block;
      width: 100%;
      margin-top: 0 !important;
    }
  }
}
