.aoa-accordion {
  margin-top: 0; }
  .aoa-accordion * {
    box-sizing: border-box; }
  .aoa-accordion h2 {
    display: block;
    margin: 0;
    padding: 16px 50px 16px 16px;
    font-size: 1.125rem !important;
    font-weight: 700;
    line-height: 1.6;
    color: #000066;
    cursor: pointer;
    transition: background-color .3s ease-out; }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked:hover ~ i:after,
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked:hover ~ i:before,
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ i:after,
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ i:before {
    background-color: #ffffff; }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked:hover ~ h2,
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ h2 {
    background-color: #23a49c;
    color: #ffffff !important; }
  .aoa-accordion .aoa-accordion__body {
    font-size: 1.125rem;
    line-height: 1.6; }
  .aoa-accordion h5 {
    margin: 0 0 .33rem;
    display: block;
    text-align: center;
    font-size: inherit;
    font-weight: 700;
    color: #636363;
    line-height: 1.4; }
  .aoa-accordion h5 a {
    display: block;
    text-decoration: none;
    color: #23a49c;
    font-weight: 700; }
  .aoa-accordion h5 a:hover {
    color: #000; }
  .aoa-accordion p strong a:hover {
    text-decoration: underline; }
  .aoa-accordion p span {
    color: #bb4d2e; }
  .aoa-accordion .aoa-accordion__item,
  .aoa-accordion .aoa-accordion__items section i:after,
  .aoa-accordion .aoa-accordion__items section i:before,
  .aoa-accordion .transition,
  .aoa-accordion p {
    transition: all .25s ease-in-out; }
  .aoa-accordion .no-select .css-accordion h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .aoa-accordion figure > a {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
    color: inherit;
    opacity: 1; }
  .aoa-accordion figure > a:hover {
    opacity: .6; }
  .aoa-accordion .aoa-accordion__item, .aoa-accordion p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    z-index: 2; }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox] ~ .aoa-accordion__item {
    /*padding: 0 30px 0 0;*/
    padding: 0 16px; }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ .aoa-accordion__item {
    padding: 16px; }
  .aoa-accordion .aoa-accordion__item:not(:last-of-type):after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    border-bottom: 1px solid #23a49c;
    bottom: 0; }
  .aoa-accordion figure {
    margin-bottom: 20px;
    text-align: center; }
  .aoa-accordion img {
    max-width: 180px;
    width: 100%;
    height: auto; }
  .aoa-accordion .aoa-accordion__items {
    padding: 0;
    list-style: none;
    -webkit-perspective: 900;
            perspective: 900; }
  .aoa-accordion .aoa-accordion__items section {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    transition: .6s;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0; }
    .aoa-accordion .aoa-accordion__items section.on {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }
    .aoa-accordion .aoa-accordion__items section:not(:last-of-type) {
      border-bottom: 1px solid #23a49c; }
  .aoa-accordion .aoa-accordion__items section:last-of-type {
    padding-bottom: 0; }
  .aoa-accordion .aoa-accordion__icon {
    position: absolute;
    z-index: 1;
    transform: translate(-6px, 0);
    -webkit-transform: translate(-6px, 0);
    -ms-transform: translate(-6px, 0);
    -moz-transform: translate(-6px, 0);
    margin-top: 16px;
    right: 16px;
    top: 11px; }
  .aoa-accordion .aoa-accordion__items section i:after,
  .aoa-accordion .aoa-accordion__items section i:before {
    content: "";
    position: absolute;
    background-color: #000066;
    width: 3px;
    height: 9px; }
  .aoa-accordion .aoa-accordion__items section i:before {
    transform: translate(-2px, 0) rotate(45deg);
    -webkit-transform: translate(-2px, 0) rotate(45deg);
    -ms-transform: translate(-2px, 0) rotate(45deg);
    -moz-transform: translate(-2px, 0) rotate(45deg); }
  .aoa-accordion .aoa-accordion__items section i:after {
    transform: translate(2px, 0) rotate(-45deg);
    -webkit-transform: translate(2px, 0) rotate(-45deg);
    -ms-transform: translate(2px, 0) rotate(-45deg);
    -moz-transform: translate(2px, 0) rotate(-45deg); }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked ~ .aoa-accordion__item,
  .aoa-accordion .css-accordion .aoa-accordion__items section input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked ~ i:before {
    -webkit-transform: translate(2px, 0) rotate(45deg);
            transform: translate(2px, 0) rotate(45deg); }
  .aoa-accordion .aoa-accordion__items section input[type=checkbox]:checked ~ i:after {
    -webkit-transform: translate(-2px, 0) rotate(-45deg);
            transform: translate(-2px, 0) rotate(-45deg); }
  .aoa-accordion p:empty {
    display: none; }
  .aoa-accordion .item-subhead {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 1.8;
    color: #000066; }
  @media screen and (min-width: 768px) {
    .aoa-accordion .row + .row {
      margin-top: 20px; }
    .aoa-accordion h5 {
      text-align: left; } }
  @media screen and (min-width: 1066px) {
    .aoa-accordion .aoa-accordion__items section input[type=checkbox]:not(:checked) ~ .aoa-accordion__item {
      padding: 32px 16px 30px 16px;
      background-color: rgba(255, 255, 255, 0.75); }
    .aoa-accordion figure {
      text-align: center;
      display: inline-block;
      width: 25%;
      margin: 0 40px 0 0;
      vertical-align: top; }
    .aoa-accordion .aoa-accordion__body {
      display: inline-block;
      width: 100%;
      margin-top: 0 !important; } }